/*
	@File:HEALTHBEAUTY

	* This file contains the styling for the actual template, this
	is the file you need to edit to change the look of the
	template.

	This files contents are outlined below>>>>>

	*******************************************
	*******************************************

	==== INDEX PAGE CSS
*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

button:focus {
  outline: none;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section_padding {
  padding: 80px 0;
}

.section_padding_2 {
  padding: 20px 0 80px;
}

.section_titel {
  margin-bottom: 50px;
}

.section_titel h2 {
  font-size: 40px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #161616;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

.section_titel h2 span {
  font-weight: 700;
  color: #91c543;
}

.section_titel p {
  font-size: 16px;
  line-height: 1.4;
  color: #161616;
  width: 630px;
  margin: 0 auto;
}

.see_more a {
  color: #161616;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
}

.see_more a:hover {
  color: #2B6CB0;
}

.top_bar_area {
  background-color: #91c543;
  padding: 10px 0;
}

.top_bar_area .top_bar_ctn li {
  margin-right: 15px;
}

.top_bar_area .top_bar_ctn li:last-child {
  margin-right: 0;
}

.top_bar_area .top_bar_ctn li a {
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.top_bar_area .top_bar_ctn li a i {
  margin-right: 10px;
}

.top_bar_area .top_bar_ctn li a:hover {
  color: #2B6CB0;
}

.top_bar_area .top_right {
  text-align: right;
}

.header_area {
  position: relative;
  background: #ffffff;
}

.header_area .navbar {
  padding: 0;
}

.header_area .top_mid_menu ul {
  position: relative;
  top: 6px;
}

.header_area .top_mid_menu ul li {
  position: relative;
  margin: 0 20px;
}

.header_area .top_mid_menu ul li:last-child {
  margin-right: 0;
}

.header_area .top_mid_menu ul li a {
  text-transform: capitalize;
  color: #91c543;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: .5px;
}

.header_area .top_mid_menu ul li a i {
  font-size: 18px;
}

.header_area .top_mid_menu ul li a:hover {
  color: #06acde;
}

.header_area .top_bar_right ul {
  position: relative;
  top: 0px;
  text-align: right;
}

.header_area .top_bar_right ul li {
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
}

.header_area .top_bar_right ul li .log_btn {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
  background-color: #91c543;
  border-radius: 6px;
  padding: 8px 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 0 blue;
          box-shadow: inset 0 0 0 0 blue;
  transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  -ms-transition: ease-out 0.6s;
}

.header_area .top_bar_right ul li .log_btn i {
  font-size: 16px;
  padding-right: 7px;
}

.header_area .top_bar_right ul li .log_btn:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #91c543;
          box-shadow: inset 400px 0 0 0 #91c543;
  color: #ffffff;
}

.header_area .top_bar_right ul .search_btn {
  margin-right: 20px;
}

.header_area .top_bar_right ul .search_btn i {
  cursor: pointer;
  font-size: 18px;
  color: #91c543;
}

.header_area .top_bar_right ul .search_btn input {
  visibility: hidden;
  width: 0;
  border: 1px solid #91c543;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  height: 40px;
  padding: 10px;
}

.header_area .top_bar_right ul .search_btn input::-webkit-input-placeholder {
  font-size: 14px;
}

.header_area .top_bar_right ul .search_btn input:-ms-input-placeholder {
  font-size: 14px;
}

.header_area .top_bar_right ul .search_btn input::-ms-input-placeholder {
  font-size: 14px;
}

.header_area .top_bar_right ul .search_btn input::placeholder {
  font-size: 14px;
}

.header_area .top_bar_right ul .search_btn input:focus {
  border: 1px solid #2B6CB0;
}

.header_area .top_mb_bar_right {
  display: none;
}

.wide .navbar-brand {
  display: none;
}

.wide .menu_bar {
  display: none;
}

.wide .top_bar_right ul .search_btn {
  background: #ffffff;
  padding: 20px 0;
  width: 900px;
  margin: 0 auto;
}

.wide .top_bar_right ul .search_btn i {
  cursor: pointer;
  font-size: 24px;
}

.wide .top_bar_right ul .search_btn input {
  visibility: visible;
  width: 700px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}

.wide .top_bar_right ul li .log_btn {
  display: none;
}

.menu-shrink {
  position: fixed !important;
  background: #ffffff !important;
  color: #000000;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 9999;
  top: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.carousel-wrapper-middle {
  padding-bottom: 552.259px !important;
}

.slider_area .slider_txt {
  width: 550px !important;
  position: absolute;
  top: 30%;
  left: 12%;
  background: #91c543d5;
  padding: 40px 30px;
  height: 300px !important;
  -webkit-box-shadow: 17px 11px 0px #a2ce76c4;
          box-shadow: 17px 11px 0px #a2ce76c4;
  border-radius: 7px;
}

.slider_area .slider_txt h2 {
  font-size: 40px;
  line-height: 1.4;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.slider_area .slider_txt p {
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}

.slider_area .carouselLineArrow-arrow {
  background-color: #91c543;
}

.slider_area .carouselLineArrow-arrow.carouselLineArrow-arrow-left .carouselLineArrow-arrow-inner:before,
.slider_area .carouselLineArrow-arrow.carouselLineArrow-arrow-right .carouselLineArrow-arrow-inner:before {
  background-color: #ffffff;
}

.slider_area .carouselLineArrow-arrow.carouselLineArrow-arrow-right .carouselLineArrow-arrow-inner:after {
  border-left: 10px solid #ffffff;
}

.slider_area .carouselLineArrow-arrow.carouselLineArrow-arrow-left .carouselLineArrow-arrow-inner:after {
  border-right: 10px solid #ffffff;
}

.product_area,
.product_area_2 {
  position: relative;
}

.product_area .product_ctn,
.product_area_2 .product_ctn {
  position: relative;
  background: #ffffff;
  border: 1px solid #dcd8d8;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  margin-bottom: 40px;
}

.product_area .product_ctn .product_img,
.product_area_2 .product_ctn .product_img {
  position: relative;
  overflow: hidden;
}

.product_area .product_ctn .product_img .hover_ctn,
.product_area_2 .product_ctn .product_img .hover_ctn {
  display: none;
  position: absolute;
  top: 50%;
  left: 30%;
}

.product_area .product_ctn .product_img .hover_ctn ul li,
.product_area_2 .product_ctn .product_img .hover_ctn ul li {
  opacity: 0;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
}

.product_area .product_ctn .product_img .hover_ctn ul li a,
.product_area_2 .product_ctn .product_img .hover_ctn ul li a {
  text-decoration: none;
}

.product_area .product_ctn .product_img .hover_ctn ul li a i,
.product_area_2 .product_ctn .product_img .hover_ctn ul li a i {
  font-size: 0px;
  color: #ffffff;
  background: #91c543;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  padding: 8px;
}

.product_area .product_ctn .product_img .hover_ctn ul li a i:hover,
.product_area_2 .product_ctn .product_img .hover_ctn ul li a i:hover {
  background: #2B6CB0;
  color: #ffffff;
}

.product_area .product_ctn .product_titel,
.product_area_2 .product_ctn .product_titel {
  text-align: center;
  padding: 20px;
}

.product_area .product_ctn .product_titel h4,
.product_area_2 .product_ctn .product_titel h4 {
  font-size: 20px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #161616;
  font-weight: 500;
  margin-bottom: 20px;
}

.product_area .product_ctn .product_titel .buy_btn,
.product_area_2 .product_ctn .product_titel .buy_btn {
  text-align: center;
}

.product_area .product_ctn .product_titel .buy_btn button,
.product_area_2 .product_ctn .product_titel .buy_btn button {
  border: none;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
  background-color: #91c543;
  border-radius: 6px;
  padding: 8px 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 0 blue;
          box-shadow: inset 0 0 0 0 blue;
  transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  -ms-transition: ease-out 0.6s;
}

.product_area .product_ctn .product_titel .buy_btn button:hover,
.product_area_2 .product_ctn .product_titel .buy_btn button:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #91c543;
          box-shadow: inset 400px 0 0 0 #91c543;
  color: #ffffff;
}

.product_area .product_ctn:hover .product_img img,
.product_area_2 .product_ctn:hover .product_img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
}

.product_area .product_ctn:hover .product_img .hover_ctn,
.product_area_2 .product_ctn:hover .product_img .hover_ctn {
  display: block;
}

.product_area .product_ctn:hover .product_img .hover_ctn ul li,
.product_area_2 .product_ctn:hover .product_img .hover_ctn ul li {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
}

.product_area .product_ctn:hover .product_img .hover_ctn ul li a i,
.product_area_2 .product_ctn:hover .product_img .hover_ctn ul li a i {
  font-size: 20px;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
}

.product_area_2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fitness_blog_area {
  position: relative;
}

.fitness_blog_area .shape_image_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.fitness_blog_area .shape_image_2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fitness_blog_area .fitness_ctn {
  background: #ffffff;
  border: 1px solid #dcd8d8;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
}

.fitness_blog_area .fitness_ctn .fitness_image {
  overflow: hidden;
}

.fitness_blog_area .fitness_ctn .fitness_titel {
  padding: 20px;
}

.fitness_blog_area .fitness_ctn .fitness_titel h4 {
  font-size: 18px;
  line-height: 1.4;
  color: #161616;
  font-weight: 600;
  margin-bottom: 20px;
}

.fitness_blog_area .fitness_ctn .fitness_titel .fitness_btn {
  text-align: center;
}

.fitness_blog_area .fitness_ctn .fitness_titel .fitness_btn a {
  border: none;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
  background-color: #91c543;
  border-radius: 6px;
  padding: 8px 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 0 blue;
          box-shadow: inset 0 0 0 0 blue;
  transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  -ms-transition: ease-out 0.6s;
}

.fitness_blog_area .fitness_ctn .fitness_titel .fitness_btn a:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #91c543;
          box-shadow: inset 400px 0 0 0 #91c543;
  color: #ffffff;
}

.fitness_blog_area .fitness_ctn:hover .fitness_image img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
}

.footer_area {
  background: #1F2732;
}

.footer_area .footer_logo {
  margin-bottom: 30px;
}

.footer_area .footer_ctn .footer_titel h4 {
  font-size: 20px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 60px;
}

.footer_area .footer_ctn p {
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: 400;
}

.footer_area .footer_ctn p a {
  color: #ffffff;
}

.footer_area .footer_ctn ul li {
  display: block;
  margin-bottom: 16px;
}

.footer_area .footer_ctn ul li a {
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  font-weight: 400;
}

.footer_area .footer_ctn input {
  margin-bottom: 20px;
  border: 1px solid #91c543;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}

.footer_area .footer_ctn input::-webkit-input-placeholder {
  font-size: 14px;
}

.footer_area .footer_ctn input:-ms-input-placeholder {
  font-size: 14px;
}

.footer_area .footer_ctn input::-ms-input-placeholder {
  font-size: 14px;
}

.footer_area .footer_ctn input::placeholder {
  font-size: 14px;
}

.footer_area .footer_ctn input:focus {
  border: 1px solid #2B6CB0;
}

.footer_area .footer_ctn button {
  border: none;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
  background-color: #91c543;
  border-radius: 6px;
  padding: 8px 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 0 blue;
          box-shadow: inset 0 0 0 0 blue;
  transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  -ms-transition: ease-out 0.6s;
  text-transform: uppercase;
}

.footer_area .footer_ctn button:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #91c543;
          box-shadow: inset 400px 0 0 0 #91c543;
  color: #ffffff;
}

.copyright_area {
  border-top: 1px solid #4d4d4d;
  background: #1F2732;
  padding: 20px 0;
}

.copyright_area .copyright p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0;
}

.copyright_area .copyright p a {
  color: #fff;
}

.copyright_area .copyright p a:hover {
  color: #91c543;
}

.to-top i {
  color: #91c543;
  font-size: 20px;
}

.service_area .service_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.service_area .service_box::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background: #91c543;
  border: 1px double #91c543;
  top: 0;
  right: 0;
}

.service_area .service_box .service_img {
  margin-right: 12px;
}

.service_area .service_box .service_ctn p {
  font-size: 18px;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 500;
  color: #161616;
  margin-bottom: 0px;
}

.service_area .service_box .service_ctn span {
  font-size: 13px;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 400;
  color: #161616;
}

.service_area .border_no::before {
  display: none;
}

.bread_crumb_area {
  background: #F9F9F9;
  padding: 6px 0;
}

.bread_crumb_area nav .breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0 1rem;
}

.bread_crumb_area nav .breadcrumb li.breadcrumb-item a {
  color: #2B6CB0;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
}

.bread_crumb_area nav .breadcrumb .breadcrumb-item.active {
  color: #4d4d4d;
  text-transform: capitalize;
  font-size: 14px;
}

.singel_product_area .product_view .main_img {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}

.singel_product_area .owl-carousel .owl-nav .owl-next span {
  font-size: 40px !important;
  color: #fff !important;
  background: #0068a6 !important;
  width: 20px;
  height: 34px;
  position: absolute;
  top: 30%;
  right: 0;
  line-height: .75;
}

.singel_product_area .owl-carousel .owl-nav .owl-prev span {
  font-size: 40px !important;
  color: #fff !important;
  background: #0068a6 !important;
  width: 20px;
  height: 34px;
  position: absolute;
  top: 30%;
  left: 0;
  line-height: .75;
}

.singel_product_area .singel_pro_details_area .product_titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singel_product_area .singel_pro_details_area .product_titel h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  color: #91c543;
  text-transform: capitalize;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share .share_btn {
  transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  position: relative;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share .share_btn i {
  font-size: 20px;
  color: #4d4d4d;
  cursor: pointer;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon {
  display: none;
  transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  margin-top: 20px;
  position: absolute;
  right: 0;
  top: 5%;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon li {
  margin-right: 10px;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon li:last-child {
  margin-right: 0;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon li a span {
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon li a i {
  color: #f7f2f2;
  line-height: 1;
  font-size: 18px;
  background: #06acde;
  border-radius: 45px;
  padding: 6px;
  width: 30px;
  height: 30px;
}

.singel_product_area .singel_pro_details_area .product_titel .product_share ul.share_icon li a i:hover {
  color: #ffffff;
  background: #91c543;
}

.singel_product_area .singel_pro_details_area .product_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.singel_product_area .singel_pro_details_area .product_rating ul li a i {
  color: #FCB941;
  font-size: 12px;
}

.singel_product_area .singel_pro_details_area .product_rating span a {
  color: #4d4d4d;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5;
}

.singel_product_area .singel_pro_details_area .product_price p {
  color: #91c543;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}

.singel_product_area .singel_pro_details_area .product_ctn p {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.5;
}

.singel_product_area .singel_pro_details_area .product_size_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singel_product_area .singel_pro_details_area .product_size_color .product_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.singel_product_area .singel_pro_details_area .product_size_color .product_size label {
  font-size: 16px;
  line-height: 2;
  color: #4d4d4d;
  text-transform: capitalize;
  width: 60px;
}

.singel_product_area .singel_pro_details_area .product_size_color .product_size .form select {
  font-size: 14px;
  line-height: 1;
  color: #4d4d4d;
  height: 35px;
}

.singel_product_area .singel_pro_details_area .product_size_color .product_size .form select option {
  color: #4d4d4d;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.5;
}

.singel_product_area .singel_pro_details_area .product_size_color .product_color {
  margin-left: 20px;
}

.singel_product_area .singel_pro_details_area .product_quentyti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singel_product_area .singel_pro_details_area .product_quentyti label {
  font-size: 16px;
  line-height: 2;
  color: #4d4d4d;
  text-transform: capitalize;
  width: 60px;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group {
  position: relative;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group .input_prepand {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 14px;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group input {
  width: 58%;
  height: 34px;
  background: #06acde;
  color: #ffffff;
  border: transparent;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 35px;
  font-weight: 600;
  text-align: center;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 35px;
  font-weight: 600;
  text-align: center;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 35px;
  font-weight: 600;
  text-align: center;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 35px;
  font-weight: 600;
  text-align: center;
}

.singel_product_area .singel_pro_details_area .product_quentyti .form-group .input_apand {
  position: absolute;
  top: 0px;
  right: 40%;
  color: #ffffff;
  font-size: 14px;
}

.singel_product_area .singel_pro_details_area .product_details_btn {
  margin-top: 7px;
  margin-bottom: 7px;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li {
  margin-right: 8px;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li:last-child {
  margin-right: 0;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #161616;
  border: 1px solid #161616;
  background: transparent;
  padding: 7px 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn.active {
  background: #91c543;
  border: 1px solid transparent;
  color: #fff;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn.active i {
  color: #fff;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn i {
  font-size: 18px;
  line-height: 1.5;
  color: #161616;
  margin-right: 9px;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn:hover {
  background: #91c543;
  border: 1px solid transparent;
  color: #fff;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn:hover i {
  color: #fff;
}

.singel_product_area .singel_pro_details_area .product_details_btn ul li a.btn.love_btn i {
  margin-right: 0;
}

.singel_product_area .singel_pro_details_area .product_details_footer .product_cat {
  margin-bottom: 6px;
}

.singel_product_area .singel_pro_details_area .product_details_footer .product_cat span {
  color: #4d4d4d;
  line-height: 1.5;
  font-size: 14px;
}

.singel_product_area .singel_pro_details_area .product_details_footer .product_cat span a {
  color: #91c543;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .75px;
}

.product_description .pro_description_ctn .singel_product {
  display: block;
  text-align: center;
}

.product_description .pro_description_ctn .singel_product li.nav-item a.nav-link {
  color: #161616;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  border: none;
  background: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  padding: 6px 14px;
}

.product_description .pro_description_ctn .singel_product li.nav-item a.nav-link.active {
  border-bottom: 2px solid #91c543;
  color: #91c543;
}

.product_description .pro_description_ctn .tab-content {
  border-top: 1px solid #6160609d;
  border-radius: 0px;
  padding: 25px 30px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background: #ffffff;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn h4 {
  color: #161616;
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 18px;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn p {
  color: #4d4d4d;
  line-height: 1.5;
  font-size: 14px;
  color: #4d4d44;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn p a {
  color: #4d4d4d;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn ul {
  margin-bottom: 7px;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn ul li {
  display: block;
  color: #161616;
  line-height: 1.5;
  padding-left: 20px;
  position: relative;
  margin-bottom: 7px;
  font-size: 14px;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn ul li::after {
  position: absolute;
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #161616;
  top: 50%;
  left: 0;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn .review .customer_name {
  margin-top: 15px;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn .review .customer_name h5 {
  color: #161616;
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 18px;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn .review .product_rating ul li {
  display: inline-block;
  padding-left: 0;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn .review .product_rating ul li::after {
  display: none;
}

.product_description .pro_description_ctn .tab-content .tab-pane .pro_des_tab_ctn .review .product_rating ul li a {
  color: #FCB941;
}

.related_pro_area {
  background: #fdfcfc;
}

.related_pro_area .related_pro_slider {
  position: relative;
}

.related_pro_area .related_pro_slider .product_item {
  margin: 0 5px;
  border: 1px solid #dad5d5;
}

.related_pro_area .related_pro_slider .product_item .item_ctn {
  padding: 0 14px;
}

.related_pro_area .related_pro_slider .product_item .item_ctn h5 {
  color: #161616;
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}

.related_pro_area .related_pro_slider .product_item .item_ctn .price span {
  color: #06acde;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.related_pro_area .related_pro_slider .product_item .item_ctn .product_rating {
  margin-bottom: 15px;
}

.related_pro_area .related_pro_slider .product_item .item_ctn .product_rating ul {
  margin-right: 15px;
}

.related_pro_area .related_pro_slider .product_item .item_ctn .product_rating ul li a i {
  color: #FCB941;
}

.related_pro_area .related_pro_slider .product_item .item_ctn .product_rating p a {
  color: #4d4d4d;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5;
}

.related_pro_area .related_pro_slider .product_item:hover {
  border: 1px solid #91c543;
}

.related_pro_area .owl-nav {
  display: none;
}

.account_area .account_ctn_area {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.account_area .account_ctn_area .account_titel {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.account_area .account_ctn_area .account_titel h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #161616;
  font-weight: 400;
}

.account_area .account_ctn_area .form {
  padding: 30px 40px;
}

.account_area .account_ctn_area .form-control {
  margin-bottom: 12px;
  position: relative;
  border: none;
}

.account_area .account_ctn_area .form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #161616;
  font-weight: 400;
  text-transform: capitalize;
}

.account_area .account_ctn_area .form-control input {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 6px 10px;
  width: 100%;
}

.account_area .account_ctn_area .form-control input:focus {
  outline: 0;
  border-color: #777;
}

.account_area .account_ctn_area .form-control.success input {
  border-color: #2ecc71;
}

.account_area .account_ctn_area .form-control.error input {
  border-color: #e74c3c;
}

.account_area .account_ctn_area .form-control i {
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: 16px;
}

.account_area .account_ctn_area .form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.account_area .account_ctn_area .form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.account_area .account_ctn_area .form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: -17%;
  left: 3%;
  visibility: hidden;
}

.account_area .account_ctn_area .form-control.error small {
  visibility: visible;
}

.account_area .account_ctn_area .form button {
  background-color: #91c543;
  border: 2px solid #91c543;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 30px;
  width: 100%;
}

.account_area .bottom_ctn {
  text-align: center;
  padding-top: 10px;
}

.account_area .bottom_ctn p {
  font-size: 14px;
  line-height: 1.5;
  color: #4d4d4d;
}

.account_area .bottom_ctn p a {
  color: #2B6CB0;
}

.account_area .bottom_ctn .sign_up_with ul li {
  margin-right: 10px;
}

.account_area .bottom_ctn .sign_up_with ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .floating-btn {
    right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */